*{
    margin:0;
    padding:0;

}
.main{
    height:100vh;
	width:100%;
	background-image:linear-gradient( rgba(246, 243, 243, 0),rgba(244, 241, 241, 0)),url(moviesimagebackground.jpg);
	background-size:cover;
	background-position:center;
}
.navbar{
    width:1200px;
    height:75px;
    margin:auto;
}
.icon{
    width:200px;
    float:left;
    height:70px;
}
.logo{
    font-size:35px;
    font-family:'Nabla',serif;
    padding-left:20px;
    float:left;
    padding-top:10px;
    margin-left:-100px;

}
.lg
{
	width:130px;
    height:110px;
	cursor:pointer;
    margin-left:-130px;
    margin-top:70px;
}
.menu{
    width:400px;
    float:left;
    height:70px;
}
ul{
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
}
ul li{
    list-style:none;
    margin-left:80px;
    margin-top:10px;
    font-size:25px;
}
ul li a{
    text-decoration:none;
    color:white;
    font-family:'Faster One',serif;
    font-weight:bold;
    transition:0.4s ease-in-out;
}
ul li a:hover{
    color:#ff0000f6;
    
}
.search{
    width:330%;
    float:left;
    margin-left:1050px;
    margin-top:0px;
}
.srch{
    font-family:'New Roker';
    width:200px;
    height:20px;
    background:transparent;
    border:1px solid #ff0000;
    margin-top:13px;
    padding:10px;
    float:left;
    color:white;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    font-size:15px;

}
.btn{
    width:100px;
    height:20px;
    background:transparent;
    border:2px solid #ff0000; 
    margin-top:13px;
    color:white;
    font-size: 10px;
    border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;

}
.btn:focus{
    outline:none;
}
.srch:focus{
    outline:none;
}
.content.cn{
    width:160px;
    height:40px;
    background:red;
    border:none;
    margin-bottom:10px;
    margin-left:20px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:.4s ease;
}
.content .cn a{
    text-decoration:none;
    color:red;
    transition: .3s ease;
}
.cn:hover{
    background-color:orange;

}

.content
{
	width:100%;
	position:absolute;
	top:30%;
	transform:translateY(-50);
    text-align:center;
	color:red;
}
.content h1
{
	font-size:70px;
	margin-top: 20px;
}
.content p
{
	margin: 20px auto;
	font-weight:100;
	line-height: 25px;
    color:rgb(255, 0, 123);
}
button
{
   width:200px;
   padding:15px 0;
   text-align:center;
   margin:20px 10px;
   border-radius:25px;
   font-weight:bold;
   border:2px solid #009688;
   background:transparent;
   color:#fff;
   cursor:pointer;
   position:relative;
   overflow:hidden;
    
}
span
{
	background:#2f06fd;
	height:100%;
	width:0;
	border-radius:25px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:-1;
	transition:0.5s;

}
button:hover span
{
	width:100%;
}
button:hover
{
	border:none;
    background-color:blue;
}
footer {
    font-family:Eater;
    margin:-80px;
    text-align:center;
    color:Yellow;

}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}