*{
    margin:0;
    padding:0;
    
}
.latestmovies{
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    padding:0px 30px;

}
.latestmovies h1{
    color:red;
    font-family:Faster One;
}
.latestcontainer{
    padding:10px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:30px;
}
.latestinside img{
    height:122px;
    padding:4px;
    cursor:pointer;
    transition:all 500ms ease-in-out;
}
.latestinside img:hover{
    transform:scale(1.4);
}
.heading1{
    color:white;
    line-height:1.5;
}
.heading1 h4{
    margin-top:20;
    font-size:20px;
    text-align:center;
}
.heading1 h4{
    font-size:12px;
}

.btn1 a{
    text-decoration:none;
    font-size:13px;
    background:blue;
    padding:7px 7px;
    color:white;
    border-radius:10%;
}
p{
    color:yellow;
}
.hollywood{
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    padding:0px 20px;
    margin-top:400px;
    
}
.hollywood h1{
    color:blue;
    margin-top:50px;
}

.hollywoodcontainer{
    margin-top:25px;
    padding:10px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.hollywoodinside img{
    height:122px;
    padding:4px;
    cursor:pointer;
    transition:all 500ms ease-in-out;
}
.hollywoodinside img:hover{
    transform:scale(1.4);
    cursor:pointer;
}
.hollywoodinside h3{
    margin-top:20;
    font-size:20px;
    font-weight:500;
    text-align:center;
}
.hollywoodinside h3{
    font-size:12px;
}
.imd p{
    background:rgb(248, 6, 6);
    border-radius:10px;
    position:absolute;
    padding:10px 10px;
    color:white;
    font-weight:bolder;
}
.imd a{
    background:green;
    border-radius:10px;
    position:absolute;
    padding:10px 10px;
    color:white;
    font-weight:bolder;
    margin-top:15px;
    margin-left:50px;
}
.more{
    position:absolute;
    margin-top:450px;
    margin-left:1320px;
}
.more{
    color:red;
    font-weight:bolder;
    text-decoration:none;
}
.webseries{
    position:absolute;
    width:100%;
    height:70%;
    background-color:black;
    padding:0px 20px;
    margin-top:765px;
    
}
.webseries h1{
    color:orange;
    margin-top:80px;
}

.seriescontainer{
    margin-top:25px;
    padding:10px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.seriesinside img{
    height:122px;
    padding:4px;
    cursor:pointer;
    transition:all 500ms ease-in-out;
}
.seriesinside img:hover{
    transform:scale(1.4);
    cursor:pointer;
}
.seriesinside h3{
    margin-top:20;
    font-size:20px;
    font-weight:500;
    text-align:center;
}
.seriesinside h3{
    font-size:12px;
}
.imd1 p{
    background:yellow;
    border-radius:10px;
    position:absolute;
    padding:10px 10px;
    color:green;
    font-weight:bolder;
}
.imd1 a{
    background:blue;
    border-radius:10px;
    position:absolute;
    padding:10px 10px;
    color:white;
    font-weight:bolder;
    margin-top:15px;
    margin-left:50px;
}
.more1{
    position:absolute;
    margin-bottom:250px;
    margin-left:900px;
}
.more1{
    color:red;
    font-weight:bolder;
    text-decoration:none;
}
.end p{
    font-family:bungee shade;
    text-align:center;
    color:yellow;
    margin-right:45px;

}